html,body{
  font-family:Arial, Tahoma, sans-serif;
  font-size:12px;
  
}
#wrapper{
  border:1px solid #ccc;
  height:100%;
  margin:0 auto;
  width:1000px;
}
#wrapper a{
  color:#676766;
}
#header{
  height:125px;
}
#logo{
  display:block;
  height:60px;
  width:130px;
  border:1px solid #ccc;
  float:left;
  margin:5px;
}
/* search_form */
#search_form{
  float:left;
  position:relative;
  left:50px;
  top:20px;
}
#search_form #city_select{
  float:left;
}  
#city_select #city_label{
  font-size:18px;
  margin-right:5px;
}
#city_select #cities{
  font-size:16px;
}
#search_form #search_text{
  float:left;
  margin-left:10px;
}
#search_text #search_text_label{
  font-size:18px;
  margin-right:5px;
}
#search_text #search_text_value{
  border:1px solid #ccc;
  height:20px;
  width:160px;
  font-size:16px;
  margin-right:5px;
}
#search_submit{
  float:left;
}
/* button */
.button {
height:24px;
border-color:#000;
border-style:solid;
border-width:1px;
background:#707570;
cursor:pointer;
color:#fff;
}
#account_login{
  float:right;
  height:60px;
  width:150px;
  margin-top:3px;
}
#account_login .login_area{
  padding:5px;
  border-bottom:1px solid #ccc;
}
#account_login .signup_area{
  padding:5px;
}
#account_login a{
  font-size:16px;
  text-decoration:none;
}
#header .clear{
  clear:both;
}
#main_menu{
  margin-top:20px;
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;
  height:30px;
}
#main_menu ul li{
  float:left;
  list-style:none;
  font:12px Tahoma, Arial;
}
#main_menu ul li a{
  border-right:1px solid #ccc;
  display:block;
  height:24px;
  padding-left:15px;
  padding-right:15px;
  padding-top:7px;
  text-decoration:none;
  text-align:center;
  width:auto;
  color:#000;
  white-space:nowrap;
}
#main_menu ul li a:hover{
  color:#828282;
}
/*menu cities*/
#cities_menu{
  margin-top:15px;
  margin-bottom:12px;
  height:30px;
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;
}
#cities_menu .title{
  float:left;
  margin-top:5px;
  font-size:16px;
  margin-left:10px;
  margin-right:10px;
}
#cities_menu ul{
  margin-left:70px;
}
#cities_menu ul li{
  float:left;
  list-style:none;
  border-left:1px solid #ccc;
}
#cities_menu ul li a{
  height:24px;
  display:block;
  font-size:14px;
  padding-left:7px;
  padding-right:7px;
  text-align:center;
  margin-top:6px;
}
/* main content */
#main_content{
  height:100%;
  padding:10px;
}
/* footer */
#footer{
  border:1px solid #ccc;
  height:120px;
}


/* Content in */
/* city */
#main_content .cities_index{
  font-size:14px;
}
#main_content .city_name{
  margin-bottom:10px;
}
#main_content .form_for_city{
  border:1px solid #ccc;
  width:400px;
  padding:10px;
  margin:0 auto;
}
#main_content .form_for_city .field{
  padding:5px;
  margin-bottom:5px;
  color:#676766;
  font-size:14px;
}
#main_content .form_for_city .field input{
  margin-top:10px;
}

/* errors messages */
.errorExplanation{
  color:#fff;
  background:#99211E;
  padding:5px;
  font-size:14px;
  margin-bottom:10px;
}
.errorExplanation ul li{
  padding-top:5px;
}
.field_with_errors label{
  color:#fff;
  padding:5px;
  background:#99211E;
}