<%= flash_notice(notice) %>
<div class="company">
  <div class="title">
    <%= @company.name %>
  </div>
  <div class="description">
    <%= @company.description %>
  </div>
  <div class="date">
    Дата добавления: <%= date(@company) %>
  </div>
</div>
