<div class="cities_index">
  <% @cities.each do |city| %>
    <div class="city_name">
      <%= link_to city.name, city %>
      <div class="action">
        <!--
          TODO раскоментировать
        -->
        <!-- <%= link_to "Редактировать", edit_city_path(city) %>
             <%= link_to "Удалить", city, :method => "delete", :confirm => "Уверены?" %> -->
      </div>
    </div>
  <% end %>
  <div class="add_item">
    <%= link_to "Добавить город", new_city_path %>
  </div>  
</div>