<div class="title_category">
  <%= link_to @city.name, @city %>
</div>
<div class="categories_list">
  <div class="browse_category">
    Выберите категорию:
  </div>
  <ul>
    <% @categories.each do |category| %>
      <li><%= link_to category.name, city_with_category_path(@city, category) %></li>
    <% end %>  
  </ul>
</div>
<div class="add_item">
  <%= link_to "Добавить категорию", new_category_path %>
</div>