<div class="title_city">
  <%= @city.name %>
</div>
<div class="categories_list">
  <div class="browse_category">
    Выберите категорию:
  </div>
  <ul>
    <% @categories.each do |category| %>
      <li><%= link_to category.name, city_with_category_path(@city, category) %></li>
    <% end %>  
  </ul>
</div>