/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
#add_photo_form{
 
}
#add_photo_form .header{
  padding:5px;
  text-align:center;
  background:#7AC161;
  color:#fff;
  font-size:14px;
}
#add_photo_form .form_add{
/*  border:1px solid #ccc;*/
  width:400px;
  margin:0 auto; 
}
#add_photo_form .form_add .photo{
  margin-top:10px;
  margin-bottom:10px;
}
#add_photo_form .form_add .add_field a{
  text-decoration:none;
  display:block;
  background:#F3F3F3;
  width:100px;
  text-align:center;
  padding:5px;
  border-radius:5px;
  margin-bottom:5px;
}
#add_photo_form .form_add .add_field a:hover{
  background:#ECECEC;
}
