/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.review{
  margin-bottom:5px;
  margin-left:10px;
  padding-bottom:5px;
  color:#484848;
}
.head_info{
  border-bottom:1px solid #E6E6E6;
  height:34px;
}
.avatar{
  float:left;
}
.avatar img{
  width:34px;
  height:34px;
}
.name{
  margin-top:5px;
  font-weight:bold;
  font-size:12px;
  float:left;
  margin-left:10px;
  width:500px;
  color:#646464;
}
.date{
  font-size:9px;
  position:relative;
  top:20px;
  right:500px;
  color:#C3C3C3;
}
.post{
  padding-top:5px;
  font-size:12px;
  line-height:15px;
  clear:both;
}
.title_rev{
  margin-top:20px;
  font-size:14px;
  width:328px;
}
.please_sign_up{
  margin-left:10px;
  font-size:16px;
  margin-bottom:10px;
  margin-top:10px;
}
.add_review{
  margin-left:10px;
}
#new_review_link{
  font-size:16px;
  margin-left:10px;
  margin-top:20px;
  margin-bottom:20px;
}