<%= div_for review do %>
  <% @user = User.find(review.user_id) %>
  <p class="name"><%= @user.name %>:</p>
  <p class="date"><%= date(review) %></p>
  <p class="post"><%= review.post %></p>
<% end %>