<div id="footer">
  <div id="copy">&copy;Reviews.kz 2011</div>
  <div id="footer_menu">
    <ul>
      <li class="first">О нас</li>
      <li><a href="#">О Reviews.kz</a></li>
      <li><a href="#">Блог</a></li>
      <li><a href="#">Пресса о нас</a></li>
      <li><a href="#">Контакты</a></li>
    </ul>
    <ul>
      <li class="first">Помощь</li>
      <li><a href="#">ЧаВо?</a></li>
      <li><a href="#">Контакты</a></li>
      <li><a href="#">Владельцам бизнеса</a></li>
    </ul>
  </div>
</div>