<div id="footer">
  <div id="footer_menu">
    <ul>
      <li class="first">О нас</li>
      <li><a href="#">О Reviews.kz</a></li>
      <li><a href="#">Блог</a></li>
      <li><a href="#">Пресса о нас</a></li>
      <li><a href="#">Контакты</a></li>
    </ul>
    <ul>
      <li class="first">Разное</li>
      <li><%= link_to "Добавить компанию", new_company_path %></li>
      <li><a href="#"><%= link_to "Города", cities_path %></a></li>
      <li><a href="#">Пользователи</a></li>
    </ul>
    <ul>
      <li class="first">Помощь</li>
      <li><a href="#">ЧаВо?</a></li>
      <li><a href="#">Для владельцев бизнеса</a></li>
    </ul>
  </div>
  <div id="copy">Copyright &copy; 2011 Reviews</div>
  <div id="developer">
    Сделано в <a href="http://remeli.kz"><span class="first">R</span>emeli</a>
  </div>
</div>