<span class="title">Мой город:</span>
<ul>
  <% @cities_menu.each do |city| %>
    <li><%= link_to city.name, city %></li>
  <% end %>
  <li class="more"><%= link_to "Подробнее >>", cities_url %></li>
</ul>